<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Good Thymes Virtual Grocery</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>
<div th:replace="fragments/dashboard :: dashboard"></div>

<p th:text="${name}">Welcome to our grocery store!</p>

<div class="wrapper col1">Wrapper Col1</div>

<div class="wrapper col2">Wrapper Col2</div>


</body>

</html>